.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    
    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
    
      margin-bottom: 50px;
    }
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
      & .list + .list {
        margin-left: 30px;
      }
    }

  }  
  .clients-box {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-primary-color);
    border-radius: 4px;
    padding: 16px 32px;
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  

  .icon {
    fill: var(--icon-primary-color);
    .clients-box:hover &,
    .clients-box:focus & {
      fill: var(--accent-color);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }