body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
  
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.17;
  }
  .logo {
    color: var(--primary-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .logo-alt {
    color: var(--accent-color);
  }
  img {
    display: block;
   
  }
  .link {
    color: var(--title-text-color);
    text-decoration: none;
  }
  .link:hover,
  .link:focus {
    color: var(--accent-color);
    transition-duration: 250ms;
  }
  .list {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    font-style: normal;
  }